<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>Contact Me</h1>
    <p>
        I am currently still learning about HTML, and CSS.
        Pretty soon I will be a full-stack engineer and will be able
        to build things with some valuable skills!
    </p>
    <p>
        my fake email is
        <a href="fakemail@notarealwebsite.com">Here</a>
    </p>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like pie</div>
</footer>
